{{resource-hud resources=resources}}

{{outlet}}

{{user.name}}

{{mission-selector missions=missions resouces=resources updateResource=(action "updateResource")}}

<div class="mission-list">
  <button {{action "updateResource" "food" 100}}>Food</button>
  <button {{action "updateResource" "wood" 150}}>Wood</button>
  <button {{action "updateResource" "metal" 100}}>Metal</button>
  <button {{action "updateResource" "metal" -50}}>Negative metal</button>
</div>
