{{resource-hud resources=resources}}

{{outlet}}

Followers:
{{follower-list followers=followers}}

Missions:
{{mission-selector missions=missions resources=resources updateResource=(action "updateResource")}}

<div class="mission-list">
  <button {{action "updateResource" "food" 100}}>Food</button>
  <button {{action "updateResource" "wood" 150}}>Wood</button>
  <button {{action "updateResource" "metal" 100}}>Metal</button>
  <button {{action "updateResource" "metal" -50}}>Negative metal</button>
</div>

<button {{action "displayToolModal"}}>Tool thingy</button>

{{#if showToolModal}}
  {{!-- {{modals/tool-crafter hideModal=(action "hideToolModal") tools=toolList}} --}}
  {{modals/chat-dialogue}}
{{/if}}
